@font-face {
    font-family: 'Roboto Slab';
    src: url('/src/Roboto\ Slab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'Roboto Slab';
}
body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    background-color: #2b2d31;
}
.section-title{
    color: #ffffff;
    margin: 0.125rem 0 0.5rem 0;
}
.section-container{
    background-color: #313338;
    border: #43464d solid 1px;
    border-radius: 1rem;
    padding: 16px;
}
a{
    word-wrap: break-word;
    display: block;
    margin-bottom: 10px;
    color: #d3cfff;
    text-decoration:none;
    padding: 0.625rem;
    margin: 0.125rem 0;
    border-radius: 0.5rem;
}
a:hover{
    background-color: #53575e;
}
form{
    display: flex; 
    flex-direction: column; 
    gap: 16px;
}
.input-button{
    width: fit-content;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #ffffff;
    font-weight: 600;
}
.input-button:hover{
    background-color: #d9e1e9;
    cursor: pointer;
}
input[type="file"] {
    color: #ffffff;
    padding: 1rem;
    background: #202225;
    border-radius: 0.5rem;
}
.w-full{
    width: 100%;
}